<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="padding: 10px; padding-top: .01%;">
    <!---------------------------------------- Navbar ---------------------------------------->
    <div class="navbar bg-base-100 shadow flex" style="position: fixed ;z-index: 1000;">
         <div class="flex-none" style="padding: 0px 20px 0px 0px;">
            <label class="btn btn-circle swap swap-rotate">        
            <!-- this hidden checkbox controls the state -->
            <input id="swap" type="checkbox" />
            <!-- hamburger icon -->
            <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
            <!-- close icon -->
            <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
            </label>
        </div>

        
        <div class="flex-1">
            <img src="/uploads/logo.png" alt="DaisyUI logo" class="w-10 h-10" />
            <a class="font-bold text-xl">   Alaa Ismail <span class="text-primary">Store</span> </a>
        </div>

        <!-- Search bar -->
    

    </div>
    <!---------------------------------------- End of Navbar ---------------------------------------->
    <!---------------------------------------- Main ---------------------------------------->

    <div class="Main" style="margin-top: 20px; display: flex;" >
            <section style="max-width: 90%; margin-top: 50px;">
                  <div class="h-full" >
                    <!-- Left column container with background-->
                    <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
                        <% if (message2) { %>
                            <div role="alert" class="alert alert-warning" style="width: 40%; margin-left: 500px;">
                                <svg style="color: azure;" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                                <span class="font-bold text-lg" style="color: azure;"><%= message2 %></span>
                              </div>
                         
                        <% } %>
                        <% if (message) { %>
                            <div role="alert" class="alert alert-error" style="width: 40%; margin-left: 500px;">
                                <svg style="color: azure;" xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                                <span class="font-bold text-lg" style="color: azure;"><%= message %></span>
                              </div>
                         
                        <% } %>
                       
                        <div
                        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
                        <img
                          src="/uploads/SignUp.jpg"

                          alt="Sample image" />
                      </div>
                      
                      <!-- Right column container -->

                        <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12" >
                            <h2 class="text-4xl font-bold mb-6 flex" style="justify-content: center;" >Sign <span style="color: #ff735c;">Up </span> New Designer</h2>
                        <form action="/products" method="post" enctype="multipart/form-data">
                            <!-- Email input -->
                            <div class="relative mb-6" data-te-input-wrapper-init>
                                <input
                                type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-base-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                name="username" />
                                <label
                                for="exampleFormControlInput2"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                                >User Name
                                </label>
                            </div>
                            <div class="relative mb-6" data-te-input-wrapper-init>
                                <input
                                type="text"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-base-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                name="email" />
                                <label
                                for="exampleFormControlInput2"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                                >Email
                                </label>
                            </div>


                            <!-- brief input -->
                            <div class="relative mb-6" data-te-input-wrapper-init>
                                <textarea
                                type="text"
                                style="height: 60px;"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-base-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput2"
                                name="brief" ></textarea>
                                <label
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                                >Brief
                                </label>
                            </div>

                            <!-- Password input -->
                            <div class="relative mb-6" data-te-input-wrapper-init>
                                <input
                                type="password"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-base-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput22"
                                placeholder="Password"
                                name="password1" />
                                <label
                                for="exampleFormControlInput22"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                                >Password
                                </label>
                            </div>
                            
                            <!-- Password input 2  -->
                            <div class="relative mb-6" data-te-input-wrapper-init>
                                <input
                                type="password"
                                class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-base-100 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                                id="exampleFormControlInput22"
                                placeholder="Password Again"
                                name="password2" />
                                <label
                                for="exampleFormControlInput22"
                                class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[1.15rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                                >Password Again
                                </label>
                            </div>

                            <input name="image" type="file" class="file-input file-input-bordered file-input-error w-full max-w-xs" />


                          <div class="mb-6 flex items-center justify-between">
                            <!-- Register link -->
                            <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
                               Already have an account?
                              <a
                                href="/Login.html"
                                class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700"
                                style="color: #c45cc2;"
                                >Login</a
                              >
                            </p>
                          </div>

                          <!-- Login button -->
                          <div class="text-center lg:text-left">
                            <button
                              type="submit"
                              class="inline-block rounded bg-primary px-7 pb-2.5 pt-3 text-sm font-medium uppercase  leading-normal text-white"
                              data-te-ripple-init
                              data-te-ripple-color="light" 
                              style="background-color: #ff735c; :hover { box-shadow: 0 14px 14px #ff735c; }">
                                Sign Up  
                            </button>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

    <!---------------------------------------- End of Main ---------------------------------------->
    
<aside>
    <div class="sidebar" style="width: 0%; background-color: white;position: fixed;top: 60px;overflow: hidden; transition: .3s;height: 100vh;">
        <div class="card bg-base-100">
            <div class="card-body">
                <h2 class="card-title">Categories</h2>
                <ul class="menu menu-nav">
                    <li><a>Electronics</a></li>
                    <li><a>Home Appliances</a></li>
                    <li><a>Books</a></li>
                    <li><a>Stationary</a></li>
                    <li><a>Food</a></li>
                    <li><a>Others</a></li>
                </ul>
            </div>
        </div>
        <div class="card bg-base-100">
            <div class="card-body">
                <h2 class="card-title">Brands</h2>
                <ul class="menu menu-nav">
                    <li><a>Samsung</a></li>
                    <li><a>Apple</a></li>
                    <li><a>LG</a></li>
                    <li><a>HP</a></li>
                    <li><a>Lenovo</a></li>
                    <li><a>Others</a></li>
                </ul>
            </div>
        </div>
        <!-- div for logout button -->
        <div class="card bg-base-100 w-full" style="position: absolute; bottom: 50px;left: 10px;">
            <div class="card-body">
                <a class="btn btn-error font-bold" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                    </svg>
                    LogOut
                </a>
            </div>
        <div>
    </div>
</aside>

<script>
    function toggleSidebar() {
        var sidebar = document.querySelector('.sidebar');
        var Checkbox = document.getElementById('swap');
        if (sidebar.style.width === '20%') {
            sidebar.style.width = '0';
        } else {
            sidebar.style.width = '20%';
            Checkbox.checked =      true   ;
        }
    }

    var swapCheckbox = document.getElementById('swap');
    swapCheckbox.addEventListener('change', toggleSidebar);
    document.addEventListener('click', function (event) {
        if (event.target.closest('.sidebar') || event.target.closest('.swap')) return;
        var Checkbox = document.getElementById('swap');
            document.querySelector('.sidebar').style.width = '0';
            Checkbox.checked =      false   ;
    });
</script>

</body>
</html>
